#head-container {
    background-image: url(./images/45degreee_fabric.png);
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 90px;
    border-bottom: 2px solid black
}
.h1 {
    font-family: 'Alfa Slab One';font-size: 22px;
    margin-left: 50px;
    text-decoration-line: underline
}
.navbar {
    margin-right: 90px;
    margin-left: 90px;
} 
.jumbotron {
    margin-top: 100px; 
    margin-left: 90px;
    margin-right: 90px;
    overflow: hidden;
    background-image: url(./images/45degreee_fabric.png);

}
h2 {
    text-decoration-line: underline;
    font-family: 'Alfa Slab One';font-size: 22px;
}
body {
    background-image: url(./images/photo-1453928582365-b6ad33cbcf64.jpeg)
}
#linkedin {
    /* background-color: white; */
    width: 150px;
    height: 100px; 
    margin-bottom: 20px;
    /* border: 1px outset whitesmoke; */
    /* padding: 1% */
}
#github {
    width: 150px;
    height: 100px; 
    margin-bottom: 20px;
    /* border: 1px outset whitesmoke; */
}
#info_container {
    display: inline-block
}
#link {
    display: inline-block;
    /* margin-left: 50px */
}
.h2 {
    text-decoration-line: underline;
    font-family: 'Alfa Slab One';font-size: 22px;
}
.h3 {
    font-family: 'Alfa Slab One';font-size: 22px;
}