.head-container {
    background-image: url(./images/45degreee_fabric.png);
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 90px;
    border-bottom: 2px solid black
}
.h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    text-decoration-line: underline
}
.head_mern_container {
    margin-left: 500px; 
}
.navbar {
    margin-right: 90px;
    margin-left: 90px;
} 
.jumbotron {
    margin-top: 100px; 
    margin-left: 90px;
    margin-right: 90px;
    overflow: hidden;
    background-image: url(./images/45degreee_fabric.png);
}
h2 {
    text-decoration-line: underline
}
body {
    background-image: url(./images/blackwood-background_00313351.jpg)
}
.mern_container {
    margin-top: 50px;
    /* margin-left: 200px; */
    margin-right: 200px
}
#mongo {
    width: 115px;
    height: 90px; 
    margin-bottom: 20px;
    
}
#mysql {
    width: 115px;
    height: 90px;
    margin-bottom: 20px;
   
}
#express {
    width: 115px;
    height: 90px;
    margin-bottom: 20px;
   
}
#react {
    width: 115px;
    height: 90px;
    margin-bottom: 20px;
    /* border: 1px outset black  */
}
#node {
    width: 115px;
    height: 90px;
    margin-bottom: 20px;
   
}
#frontend {
    width: 115px;
    height: 90px;
    margin-bottom: 20px;
   
}
#bootstrap {
    width: 115px;
    height: 90px;
    margin-bottom: 20px;
   
}
#materialize {
    width: 115px;
    height: 90px;
    margin-bottom: 20px;
   
}
#jquery {
    width: 115px;
    height: 90px;
    margin-bottom: 20px;
   
}
#handlebars {
    width: 115px;
    height: 90px;
    margin-bottom: 20px;
   
}
#firebase {
    width: 115px;
    height: 90px;
    margin-bottom: 20px;
   
}
#ajax {
    width: 115px;
    height: 90px;
    margin-bottom: 20px;
   
}
.h2 {
    text-decoration-line: underline
}
.profile {
    width: 160px;
    height: 160px;
    /* display: inline-block;
    flex-direction:column; */
    display: inline-flex;
    border-radius: 50%;
}
p {
 /* margin-left: 150px; */
 display: inline-flex;
}

/* .footer {
        height: 50px;
        background-color: black;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        border-top: solid 8px black;
        margin-block-start: 0psx
} */