.head-container {
    background-image: url(./images/45degreee_fabric.png);
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 90px;
    border-bottom: 2px solid black
}
.h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    text-decoration-line: underline
}
.head_mern_container {
    margin-left: 500px; 
}
.navbar {
    margin-right: 90px;
    margin-left: 90px;
} 
.jumbotron {
    margin-top: 100px; 
    margin-left: 90px;
    margin-right: 90px;
    overflow: hidden;
    background-image: url(./images/45degreee_fabric.png);
}
h2 {
    text-decoration-line: underline;
}
body {
    background-image: url(./images/blackwood-background_00313351.jpg)
}
#mongo {
    width: 50px;
    height: 35px; 
    margin-left: 25px;
}
#mysql {
    width: 50px;
    height: 35px;
    margin-left: 25px;
   
}
#express {
    width: 50px;
    height: 35px;
    margin-left: 25px;
}
#react {
    width: 50px;
    height: 35px;
    margin-left: 25px;
}
#node {
    width: 50px;
    height: 35px;
    margin-left: 25px;
}
#frontend {
    width: 115px;
    height: 90px;
    margin-left: 25px;
   
}
#bootstrap {
    width: 50px;
    height: 35px;
    margin-left: 25px;
}
#materialize {
    width: 50px;
    height: 35px;
    margin-left: 25px;
}
#jquery {
    width: 50px;
    height: 35px;
    margin-left: 25px;
}
#handlebars {
    width: 50px;
    height: 35px;
    margin-left: 25px;
}
#firebase {
    width: 50px;
    height: 35px;
    margin-left: 25px;
}
#ajax {
    width: 50px;
    height: 35px;
    margin-left: 25px;
}
.h2 {
    text-decoration-line: underline;
    margin-left: 250px;
}
.profile {
    width: 185px;
    height: 200px;
    display: inline;
    float: left;
   padding-right: 50px; 
} 

/* .footer {
        height: 50px;
        background-color: black;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        border-top: solid 8px black;
        margin-block-start: 0psx
} */