.head-container {
    background-image: url(./images/45degreee_fabric.png);
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 90px;
    border-bottom: 2px solid black
}
.h1 {
    font-family: 'Alfa Slab One';font-size: 22px;
    margin-left: 50px;
    text-decoration-line: underline
}
.navbar {
    margin-right: 90px;
    margin-left: 90px;
} 
body {
    background-image: url(./images/photo-1453928582365-b6ad33cbcf64.jpeg)
}
h2 {
    font-family: 'Alfa Slab One';font-size: 22px;
    text-decoration-line: underline
}
.jumbotron {
    margin-top: 100px; 
    margin-left: 90px;
    margin-right: 90px;
    overflow: hidden;
    background-image: url(./images/45degreee_fabric.png);
}
#crystals {
    width: 180px;
    height: 180px;
    display: inline;
    float: left;
}
#hangman {
    width: 180px;
    height: 180px;
    margin-left: 40px;
    display: inline;
    float: left
}
#giphy {
    width: 180px;
    height: 180px;
    margin-left: 40px;
    display: inline;
    float: left
}

