#head-container {
    background-image: url(./images/45degreee_fabric.png);
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 90px;
    border-bottom: 2px solid black
}
.h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    text-decoration-line: underline
}
.navbar {
    margin-right: 90px;
    margin-left: 90px;
} 
body {
    background-image: url(./images/blackwood-background_00313351.jpg)
}
h2 {
    text-decoration-line: underline
}
.jumbotron {
    margin-top: 100px; 
    margin-left: 90px;
    margin-right: 90px;
    overflow: hidden;
    background-image: url(./images/45degreee_fabric.png);
}